name: Ci Cd Workflow

on:
  push:
    branches: [main, developer]
    tags: 
      - v1*
  issues:
    types: [opened, edited, closed]
  pull_request:
    types: [opened, synchronize, closed]
  pull_request_review:
    types: [submitted, edited, dismissed]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Job
        run: |
          echo "Triggered by ${{ github.event_name }} for branch ${{ github.ref_name }}"

          if [ "${{github.event_name}}" == "push" ]; then
            echo "This is push event - building ${{ github.ref_name }} branch"
          elif [ "${{github.event_name}}" == "pull_request" ]; then
             echo "This is a pull request – running PR build pipeline..."
          elif [ "${{ github.event_name }}" == "issues" ]; then
            echo "An issue event - ${{ github.event.issue.title }} - ${{ github.event.action }} triggered the workflow..."
          elif [ "${{ github.event_name }}" == "pull_request_review" ]; then
            echo "Triggered by a pull request review submission..."
          else
            echo "Unknown event type – default build behavior."
          fi
          
          echo "Build Completed"
        
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Test Job
        run: |
          echo "Triggered by ${{ github.event_name }} for branch ${{ github.ref_name }}"
          echo 'Testing Completed'

  deploy:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Deploy Job
        run: |
          echo "Triggered by ${{ github.event_name }} for branch ${{ github.ref_name }}"
          echo 'Deployment Completed'
        
